.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #000000;
    height: 80px;
    height: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer p {
    background-color: black;
    color: #ffffff;
}

.footer-content {
    display: grid;
    place-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 20px;
        font-size: 0.9rem;
    }
}